<mat-drawer-container class="container" [hasBackdrop]="false">
  <mat-drawer
    [opened]="true"
    #drawer mode="push">
      <div>
        <mat-nav-list >
          <a routerLinkActive="active" mat-list-item matRipple routerLink="/parking-registrations">
            <mat-icon>directions_car</mat-icon>
            Registros do Estacionamento</a>
          <a routerLinkActive="active" mat-list-item matRipple routerLink="/prices">
            <mat-icon>table</mat-icon>
            Tabela de Preços</a>
        </mat-nav-list>
      </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Estacionamento - Carro Bem Guardado</span>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
